@{
    ViewData["Title"] = "Index";
}
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model List<NLayer.Core.DTOs.ProductWithCategoryDto>

<form method="post" action="https://localhost:7036/api/products">
    <a asp-controller="Products" asp-action="Index">Products</a>
    <a class="btn btn-primary" asp-controller="Products" asp-action="Save">Save Product</a>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td>Price</td>
            <td>Stock</td>
            <td>Category</td>
            <td>CreatedDate</td>
            <td>Actions</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td>@item.Category.Name</td>
                <td>@item.CreatedDate</td>
                <td>
                    <!-- Update işlemi için yönlendirme, API'ye PUT isteği gönderecek -->
                    <a class="btn btn-warning" href="https://localhost:7036/api/products/@item.Id" method="PUT">Update</a>
                    
                    <!-- Delete işlemi için yönlendirme, API'ye DELETE isteği gönderecek -->
                    <a class="btn btn-danger" href="https://localhost:7036/api/products/@item.Id" method="DELETE">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
